.filters-container {
  width: 100%;
}

.filters-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-card-header {
  padding-bottom: 16px;
}

.slider-label {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-bottom: -10px;
}
