<h2 mat-dialog-title>{{ isEditMode ? 'Editar' : 'Nova' }} Categoria</h2>
<mat-dialog-content>
  <form [formGroup]="categoryForm" class="modal-form">
    <mat-form-field appearance="outline">
      <mat-label>Nome da Categoria</mat-label>
      <input matInput formControlName="name" placeholder="Ex: Programação Orientada a Objetos">
      <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">O nome é obrigatório.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" rows="4" placeholder="Descreva o escopo desta categoria..."></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="categoryForm.invalid" (click)="onSave()">Salvar</button>
</mat-dialog-actions>
